<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.njxzc.tcs.dao.RequirementObjectiveItemMapper">
  <resultMap id="BaseResultMap" type="edu.njxzc.tcs.bean.RequirementObjectiveItem">
    <id column="require_objId" jdbcType="INTEGER" property="requireObjid" />
    <result column="requirementid" jdbcType="INTEGER" property="requirementid" />
    <result column="objectiveitemid" jdbcType="INTEGER" property="objectiveitemid" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="created_user_sn" jdbcType="CHAR" property="createdUserSn" />
    <result column="modified_user_sn" jdbcType="CHAR" property="modifiedUserSn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    require_objId, requirementid, objectiveitemid, gmt_create, gmt_modified, created_user_sn, 
    modified_user_sn
  </sql>
  <select id="selectByExample" parameterType="edu.njxzc.tcs.bean.RequirementObjectiveItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from requirement_objectiveitem
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from requirement_objectiveitem
    where require_objId = #{requireObjid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from requirement_objectiveitem
    where require_objId = #{requireObjid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="edu.njxzc.tcs.bean.RequirementObjectiveItemExample">
    delete from requirement_objectiveitem
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.njxzc.tcs.bean.RequirementObjectiveItem">
    insert into requirement_objectiveitem (require_objId, requirementid, objectiveitemid, 
      gmt_create, gmt_modified, created_user_sn, 
      modified_user_sn)
    values (#{requireObjid,jdbcType=INTEGER}, #{requirementid,jdbcType=INTEGER}, #{objectiveitemid,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{createdUserSn,jdbcType=CHAR}, 
      #{modifiedUserSn,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.njxzc.tcs.bean.RequirementObjectiveItem">
    insert into requirement_objectiveitem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="requireObjid != null">
        require_objId,
      </if>
      <if test="requirementid != null">
        requirementid,
      </if>
      <if test="objectiveitemid != null">
        objectiveitemid,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="createdUserSn != null">
        created_user_sn,
      </if>
      <if test="modifiedUserSn != null">
        modified_user_sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="requireObjid != null">
        #{requireObjid,jdbcType=INTEGER},
      </if>
      <if test="requirementid != null">
        #{requirementid,jdbcType=INTEGER},
      </if>
      <if test="objectiveitemid != null">
        #{objectiveitemid,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserSn != null">
        #{createdUserSn,jdbcType=CHAR},
      </if>
      <if test="modifiedUserSn != null">
        #{modifiedUserSn,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.njxzc.tcs.bean.RequirementObjectiveItemExample" resultType="java.lang.Long">
    select count(*) from requirement_objectiveitem
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update requirement_objectiveitem
    <set>
      <if test="record.requireObjid != null">
        require_objId = #{record.requireObjid,jdbcType=INTEGER},
      </if>
      <if test="record.requirementid != null">
        requirementid = #{record.requirementid,jdbcType=INTEGER},
      </if>
      <if test="record.objectiveitemid != null">
        objectiveitemid = #{record.objectiveitemid,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdUserSn != null">
        created_user_sn = #{record.createdUserSn,jdbcType=CHAR},
      </if>
      <if test="record.modifiedUserSn != null">
        modified_user_sn = #{record.modifiedUserSn,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update requirement_objectiveitem
    set require_objId = #{record.requireObjid,jdbcType=INTEGER},
      requirementid = #{record.requirementid,jdbcType=INTEGER},
      objectiveitemid = #{record.objectiveitemid,jdbcType=INTEGER},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      created_user_sn = #{record.createdUserSn,jdbcType=CHAR},
      modified_user_sn = #{record.modifiedUserSn,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.njxzc.tcs.bean.RequirementObjectiveItem">
    update requirement_objectiveitem
    <set>
      <if test="requirementid != null">
        requirementid = #{requirementid,jdbcType=INTEGER},
      </if>
      <if test="objectiveitemid != null">
        objectiveitemid = #{objectiveitemid,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserSn != null">
        created_user_sn = #{createdUserSn,jdbcType=CHAR},
      </if>
      <if test="modifiedUserSn != null">
        modified_user_sn = #{modifiedUserSn,jdbcType=CHAR},
      </if>
    </set>
    where require_objId = #{requireObjid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.njxzc.tcs.bean.RequirementObjectiveItem">
    update requirement_objectiveitem
    set requirementid = #{requirementid,jdbcType=INTEGER},
      objectiveitemid = #{objectiveitemid,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      created_user_sn = #{createdUserSn,jdbcType=CHAR},
      modified_user_sn = #{modifiedUserSn,jdbcType=CHAR}
    where require_objId = #{requireObjid,jdbcType=INTEGER}
  </update>
  
  <!-- 自定义 -->
   <insert id="insertByBatch" parameterType="java.util.List">
    insert into requirement_objectiveitem (require_objId, requirementid, objectiveitemid, 
      gmt_create, gmt_modified, created_user_sn, modified_user_sn)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.requireObjid,jdbcType=INTEGER}, #{item.requirementid,jdbcType=INTEGER}, 
      	#{item.objectiveitemid,jdbcType=INTEGER}, #{item.gmtCreate,jdbcType=TIMESTAMP}, 
      	#{item.gmtModified,jdbcType=TIMESTAMP}, #{item.createdUserSn,jdbcType=CHAR}, 
      	#{item.modifiedUserSn,jdbcType=CHAR})
    </foreach>
  </insert>
  
   <delete id="deleteByBatch">
    delete from requirement_objectiveitem
 <!--   where requirementid = #{requireId,jdbcType=INTEGER} AND objectiveitemid IN
    	<foreach collection="objIds" item="item" index="index" open="(" close=")"  separator=",">
    		#{item}
    	</foreach> --> 
    	where requirementid = #{requireId,jdbcType=INTEGER}
  </delete>
</mapper>