<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.njxzc.tcs.dao.SpecialityMapper">
  <resultMap id="BaseResultMap" type="edu.njxzc.tcs.bean.Speciality">
    <id column="specialityid" jdbcType="INTEGER" property="specialityid" />
    <result column="specialitycode" jdbcType="CHAR" property="specialitycode" />
    <result column="specialityname" jdbcType="CHAR" property="specialityname" />
    <result column="speciaclass_id" jdbcType="INTEGER" property="speciaclassId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="created_user_sn" jdbcType="CHAR" property="createdUserSn" />
    <result column="modified_user_sn" jdbcType="CHAR" property="modifiedUserSn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    specialityid, specialitycode, specialityname, speciaclass_id, gmt_create, gmt_modified, 
    created_user_sn, modified_user_sn
  </sql>
  <select id="selectByExample" parameterType="edu.njxzc.tcs.bean.SpecialityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from speciality
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from speciality
    where specialityid = #{specialityid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from speciality
    where specialityid = #{specialityid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="edu.njxzc.tcs.bean.SpecialityExample">
    delete from speciality
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.njxzc.tcs.bean.Speciality">
    insert into speciality (specialityid, specialitycode, specialityname, 
      speciaclass_id, gmt_create, gmt_modified, 
      created_user_sn, modified_user_sn)
    values (#{specialityid,jdbcType=INTEGER}, #{specialitycode,jdbcType=CHAR}, #{specialityname,jdbcType=CHAR}, 
      #{speciaclassId,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{createdUserSn,jdbcType=CHAR}, #{modifiedUserSn,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.njxzc.tcs.bean.Speciality">
    insert into speciality
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="specialityid != null">
        specialityid,
      </if>
      <if test="specialitycode != null">
        specialitycode,
      </if>
      <if test="specialityname != null">
        specialityname,
      </if>
      <if test="speciaclassId != null">
        speciaclass_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="createdUserSn != null">
        created_user_sn,
      </if>
      <if test="modifiedUserSn != null">
        modified_user_sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="specialityid != null">
        #{specialityid,jdbcType=INTEGER},
      </if>
      <if test="specialitycode != null">
        #{specialitycode,jdbcType=CHAR},
      </if>
      <if test="specialityname != null">
        #{specialityname,jdbcType=CHAR},
      </if>
      <if test="speciaclassId != null">
        #{speciaclassId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserSn != null">
        #{createdUserSn,jdbcType=CHAR},
      </if>
      <if test="modifiedUserSn != null">
        #{modifiedUserSn,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.njxzc.tcs.bean.SpecialityExample" resultType="java.lang.Long">
    select count(*) from speciality
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update speciality
    <set>
      <if test="record.specialityid != null">
        specialityid = #{record.specialityid,jdbcType=INTEGER},
      </if>
      <if test="record.specialitycode != null">
        specialitycode = #{record.specialitycode,jdbcType=CHAR},
      </if>
      <if test="record.specialityname != null">
        specialityname = #{record.specialityname,jdbcType=CHAR},
      </if>
      <if test="record.speciaclassId != null">
        speciaclass_id = #{record.speciaclassId,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdUserSn != null">
        created_user_sn = #{record.createdUserSn,jdbcType=CHAR},
      </if>
      <if test="record.modifiedUserSn != null">
        modified_user_sn = #{record.modifiedUserSn,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update speciality
    set specialityid = #{record.specialityid,jdbcType=INTEGER},
      specialitycode = #{record.specialitycode,jdbcType=CHAR},
      specialityname = #{record.specialityname,jdbcType=CHAR},
      speciaclass_id = #{record.speciaclassId,jdbcType=INTEGER},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      created_user_sn = #{record.createdUserSn,jdbcType=CHAR},
      modified_user_sn = #{record.modifiedUserSn,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.njxzc.tcs.bean.Speciality">
    update speciality
    <set>
      <if test="specialitycode != null">
        specialitycode = #{specialitycode,jdbcType=CHAR},
      </if>
      <if test="specialityname != null">
        specialityname = #{specialityname,jdbcType=CHAR},
      </if>
      <if test="speciaclassId != null">
        speciaclass_id = #{speciaclassId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserSn != null">
        created_user_sn = #{createdUserSn,jdbcType=CHAR},
      </if>
      <if test="modifiedUserSn != null">
        modified_user_sn = #{modifiedUserSn,jdbcType=CHAR},
      </if>
    </set>
    where specialityid = #{specialityid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.njxzc.tcs.bean.Speciality">
    update speciality
    set specialitycode = #{specialitycode,jdbcType=CHAR},
      specialityname = #{specialityname,jdbcType=CHAR},
      speciaclass_id = #{speciaclassId,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      created_user_sn = #{createdUserSn,jdbcType=CHAR},
      modified_user_sn = #{modifiedUserSn,jdbcType=CHAR}
    where specialityid = #{specialityid,jdbcType=INTEGER}
  </update>
  
  <select id="selectByClassificationId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from speciality
    where speciaclass_id = #{speciaclassid,jdbcType=INTEGER}
  </select>
</mapper>